body {
    margin: 0px;
    padding: 0px;
    background: #eae8e0;
    overflow-x: hidden;
}
header {
    width: 100%;
    background: white;
}
p, section, a{
    font-family: Arial, Sans-serif;
}
section {
    width: 989px;
    margin: 0px auto;
    font-size: 16px;
}
header .log {
    background: #76808d;
}
header input {
    background: white;
    outline: none;
    border: none;
    padding: 4px;
    margin: 10px 0px auto auto;
    font-size: 70%;
}
header input[type='text'], header input[type='password']{
    width: 50px;
}
header input[type='submit'] {
    background: #929eaf;
}
header .log p, header .log a {
    font-size: 70%;
    color: white;
    margin: 0px;
}
header .log p {
    padding-top: 5px;
}
header .log section {
    background: url('../img/top_pl.png') no-repeat;
    width: 989px;
    height: 41px;
    text-align: right;
}
header .banner::before{
    content: "";
    display: block;
    position: absolute;
    width: calc((100% - 989px) / 2);
    border-top: solid 2px #8c8c8c;
}
header .banner::after{
    content: "";
    display: block;
    position: absolute;
    width: calc((100% - 989px) / 2);
    right: 0px;
    margin-top: -89px;
    border-top: solid 2px #8c8c8c;
}
header .banner section {
    background-image: url('../img/main_pl.jpg');
    width: 989px;
    height: 89px;
}
header nav {
    background: #929eaf;
    border-top: solid 1px white;
    padding: 5px 0px;
}
header nav::before, header nav::after {
    content: "";
    position: relative;
    background: #6e7784;
    display: block;
    width: 100%;
    height: 1px;
}
header nav::before {
    top: -5px;
}
header nav::after {
    top: 5px;
}
header a , header a:visited {
    color: white;
    font-size: 70%;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
}
header a:hover {
    color: #a90414;
    cursor: pointer;
}
header a + a::before {
    content: "|";
    display: inline-block;
    padding: 0px 5px 0px 0px;
    color: #878e98;
}
section h1 {
    color: white;
    background-color: #a90414;
    font-weight: normal;
    display: inline-block;
    padding: 5px 25px;
    font-size: 110%;
}
aside + article {
    width: calc(60% - 20px);
}
aside {
    width: 40%;
    float: right;
}
article {
    background: white;
    border: 1px solid #929eaf;
    border-radius: 5px;
    margin-bottom: 10px;
}
article h2 {
    color: black;
    font-size: 65%;
    font-weight: normal;
    margin: 5px 15px;
}
.clear {
    visibility: hidden;
    clear: both;
}
.general_comparision, .main_section {
    overflow: hidden;
}
aside h2 {
    font-weight: bold;
    padding-top: 5px;
}
aside ul {
    list-style: url("../img/pointer.png");
    margin: 10px 0px;
    line-height: 70%;
}
aside li {
    padding: 3px 0px;
}
aside a, a:visited {
    font-size: 65%;
    text-decoration: none;
    color: black;
}
a:hover {
    color: #a90414;
    cursor: pointer;
}
#brief_summary h2{
    font-size: 140%;
}
#brief_summary table {
    width: 100%;
    font-size: 75%;
    vertical-align: middle;
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 5px 0px;
}
#brief_summary .bar_column {
    width: 70%;
}
.comparison {
    width: 100%;
    background: #eae8e0;
    font-size: 75%;
    vertical-align: middle;
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 5px;
}
.comparison thead td, .comparison tfoot td {
    background: #eae8e0;
    border: solid 1px #868580;
    font-weight: bold;
}
.comparison tbody td {
    border: solid 1px #d3d2cd;
}
.comparison thead td {
    padding: 2px 15px 2px 15px;
}
.comparison td {
    padding: 2px 5px;
    overflow: hidden;
    max-width: 315px;
}
.comparison td:first-of-type {
    border-left: none;
}
.comparison td:last-of-type {
    border-right: none;
}
.comparison tbody {
    background: white;
}
.comparison tfoot td {
    color: #a90414;
}
.comparison .bar_column {
    width: 35%;
}
.result_bar {
    width: 100%;
    height: 13px;
    margin: 3px 0px;
    background: #fa8309;
}
.result_bar::before {
    display: block;
    width: 2px;
    height: 13px;
    background: black;
    position: relative;
    left: calc(50% - 1px);
    z-index: 1;
    content: "";
}
.result_bar .difference {
    position: relative;
    background: #0260d4;
    height: 13px;
    display: block;
    top: -13px;
}
.first_cand, .second_cand {
    background: white;
}
.second_cand .difference {
    background: #fa8309;
}
.comparison h2 {
    font-size: 87%;
    text-align: left;
}
#results_map {
    float: left;
    width: 320px;
    height: 278px;
    border: solid 1px #d3d2cd;
    border-bottom: none;
    border-left: none;
    overflow: hidden;
    background: url('../img/map.png') no-repeat -1px 0px;
}
#map_loader {
    margin-left: 153px;
    margin-top: 122px;
    display: none;
}
#results_details {
    float: right;
    width: calc(100% - 321px);
    overflow: hidden;
}
#results_details h2 {
    font-size: 140%;
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-weight: bold;
}
.statistics {
    width: 100%;
    font-size: 75%;
    vertical-align: middle;
    border-spacing: 0px;
    border-collapse: collapse;
}
.statistics td {
    padding: 3px 10px;
}
.statistics tbody td {
    border-top: solid 1px #d3d2cd;
    border-bottom: solid 1px #d3d2cd;
}
.statistics td:last-of-type {
    font-weight: bold;
}
.statistics td:only-child {
    background: #eae8e0;
}
.statistics tr:first-of-type td {
    border-top: solid 1px #868580;
}
.statistics tr:last-of-type td {
    border-bottom: solid 1px #868580;
}
.comparison tbody td:nth-child(2) {
    text-align: left;
}
tr .clicked::after, tr .asc::after {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    border-right: solid 5px transparent;
    border-left: solid 5px transparent;
    left: 100%;
    top: 50%;
    margin: -3px auto auto 0px;
}
tr .clicked {
    position: relative;
}
tr .clicked::after {
    border-top: solid 5px black;
}
tr .asc::after {
    border-top: none;
    border-bottom: solid 5px black;
}
.modal {
    z-index: 10;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.9;
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
}
.loader {
    display: block;
}
.loader::before {
    content: url('../img/loader_main.gif');
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px auto auto -30px;
}
.modal_val {
    display: none;
    position: fixed;
    z-index: 10;
    top: 20px;
    left: calc(50% - 494px);
}
.modal_val .table_container {
    overflow-y: auto;
}
footer {
    width: 100%;
    background: #929eaf;
    border-top: solid 1px #8c8c8c;
    padding: 5px 0;
}
footer article {
    border: none;
    background: transparent;
}
footer h2 {
    text-align: center;
}

@keyframes show {
    0%   {bottom: -40px;}
    100% {bottom: 0px;}
}
.error {
    width: 100%;
    margin: 0px;
    background-color: #860e07;
    border-top: 2px solid #c40414;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 11;
    animation-name: show;
    animation-duration: 1s;
    display: none;
}
.fine {
    background-color: #1d681a;
    border-top: 2px solid #29c412;
}
.error p {
    display: block;
    color: white;
    margin: 0px;
    padding: 10px 0px 10px 20px;
}
@keyframes show_details {
    0%   {height: 0px;}
    100% {height: 150px;}
}
.muni_details {
    height: 150px;
    animation-name: show_details;
    animation-duration: 0.5s;
    text-align: left;
}
.clicked_row {
    background: #fffacb;
}
.det_item {
    display: inline-block;
    text-align: left;
    width: 150px;
    overflow: hidden;
    padding: 10px 30px 5px 30px;
}
.det_item label {
    display: inline-block;
    font-weight: bold;
}
.det_item a {
    background: #a90414;
    padding: 3px;
    color: white;
}
.det_item a:hover {
    background: white;
    color: #a90414;
}
.det_item a + a {
    margin-left: 15px;
}
.det_item input, .det_item input:disabled {
    display: block;
    background: white;
    border: 1px solid #d3d2cd;
    outline: none;
    padding: 3px;
    width: 50px;
    margin-top: 5px;
}
.det_item input:disabled {
    background: transparent;
    border: none;
    cursor: default;
    color: black;
}
.contr {
    height: 20px;
    text-align: right;
    width: 270px;
}