<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wybory</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sort.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/results.js' %}"></script>
</head>
<body>
    <header>
        <div class="log">
            <section>
            </section>
        </div>
        <div class="banner">
            <section></section>
        </div>
        <nav>
            <section>
                <a>Akty Prawne</a>
                <a>Dokumenty</a>
                <a>Organy wyborcze</a>
                <a>Kandydaci</a>
                <a>Frekwencja</a>
                <a>Wyniki</a>
                <a>Pierwsze głosowanie</a>
                <a>Sejm</a>
                <a>Senat</a>
                <a>Wykonawca</a>
            </section>
        </nav>
    </header>
    <section>
        <h1>Wyniki głosowania</h1>
        <section class="main_section">
            <aside>
                <article>
                    <h2>Zobacz także</h2>
                    <ul>
                        <li><a href="#">Frekwencja</a></li>
                        <li><a href="#">Wyniki głosowania zagranicą</a></li>
                        <li><a href="#">Porównanie wyników głosowania na kandydatów w zależności od siedziby komisji obwodowej</a></li>
                    </ul>
                    <h2>Szczegółowe wyniki głosowania na kandydatów:</h2>
                    <ul>
                        <li><a class="cand1" href="#"></a></li>
                        <li><a class="cand2" href="#"></a></li>
                    </ul>
                </article>
                <article id="brief_summary">
                    <table>
                        <thead>
                        <tr>
                            <td colspan="3">
                                <h2 class="cand1"></h2>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <col span="1" class="bar_column">
                        <tr>
                            <td>
                                <div class="result_bar first_cand">
                                    <span class="difference"
                                          style=""></span>
                                </div>
                            </td>
                            <td class="cand1_pr"></td>
                            <td class="cand1_vt"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                        <tr>
                            <td colspan="3">
                                <h2 class="cand2"></h2>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <col span="1" class="bar_column">
                        <tr>
                            <td>
                                <div class="result_bar second_cand">
                                    <span class="difference"
                                          style=""></span>
                                </div>
                            </td>
                            <td class="cand2_pr"></td>
                            <td class="cand2_vt"></td>
                        </tr>
                        </tbody>
                    </table>
                </article>
            </aside>
            <article class="general_comparision">
                <h2>Porównanie wyników głosowania na kandydatów</h2>
                <div id="results_map"><div id="map_loader"><img src="{% static 'img/loader.gif' %}"/></div></div>
                <div id="results_details">
                    <h2>Polska</h2>
                    <table class="statistics">
                        <tbody>
                            <tr>
                                <td colspan="2">Statystyka, stan na 30.06.2005</td>
                            </tr>
                            <tr>
                                <td>Liczba mieszkańców:</td>
                                <td class="dwellers"></td>
                            </tr>
                            <tr>
                                <td>Powierzchnia:</td>
                                <td>312685 km<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td>Zaludnienie:</td>
                                <td><span class="density"></span> <sup>os</sup>&frasl;<sub>km<sup>2</sup></sub></td>
                            </tr>
                            <tr>
                                <td colspan="2">Zbiorcze wyniki głosowania</td>
                            </tr>
                            <tr>
                                <td>Liczba uprawnionych:</td>
                                <td class="entitled"></td>
                            </tr>
                            <tr>
                                <td>Liczba wydanych kart:</td>
                                <td class="issued_cards"></td>
                            </tr>
                            <tr>
                                <td>Liczba oddanych głosów:</td>
                                <td class="votes"></td>
                            </tr>
                            <tr>
                                <td>Liczba ważnych głosów:</td>
                                <td class="valid_votes"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
        <article>
            <h2>Porównanie wyników głosowania na kandydatów</h2>
            <table id="main_comparison" class="comparison">
                <thead>
                    <tr>
                        <td rowspan="3"><div class="clicked">Nr</div></td>
                        <td rowspan="3"><div>Nazwa</div></td>
                        <td rowspan="3"><div>Liczba głosów ważnych</div></td>
                        <td colspan="2"><div class="cand1"></div></td>
                        <td rowspan="3" class="bar_column"><div>Liczba głosów: <br />na kandydata / ważnych [&#37;]</div></td>
                        <td colspan="2"><div class="cand2"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2"><div>głosów na kandydata</div></td>
                        <td colspan="2"><div>głosów na kandydata</div></td>
                    </tr>
                    <tr>
                        <td><div>liczba</div></td>
                        <td><div>&#37;</div></td>
                        <td><div>liczba</div></td>
                        <td><div>&#37;</div></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </article>
        <article>
            <h2>Porównanie wyników głosowania na kandydatów w zależności od siedziby komisji obwodowej</h2>
            <table id="quantile_comparison" class="comparison">
                <thead>
                    <tr>
                        <td rowspan="3">Nr</td>
                        <td rowspan="3">Podział</td>
                        <td rowspan="3">Liczba głosów ważnych</td>
                        <td colspan="2" class="cand1"></td>
                        <td rowspan="3" class="bar_column">Liczba głosów: <br />na kandydata / ważnych [&#37;]</td>
                        <td colspan="2" class="cand2"></td>
                    </tr>
                    <tr>
                        <td colspan="2">głosów na kandydata</td>
                        <td colspan="2">głosów na kandydata</td>
                    </tr>
                    <tr>
                        <td>liczba</td>
                        <td>&#37;</td>
                        <td>liczba</td>
                        <td>&#37;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="separate">
                        <td colspan="8">
                            <h2>Porównanie wyników głosowania na kandydatów w zależności od liczby mieszkańców gminy</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
    <div class="modal"></div>
    <section class="modal_val">
    <article>
            <h2>Widok szczegółowy</h2>
            <div class="table_container">
                <table id="detailed" class="comparison">
                    <thead>
                        <tr>
                            <td rowspan="3"><div class="clicked">Nr</div></td>
                            <td rowspan="3"><div>Nazwa</div></td>
                            <td rowspan="3"><div>Liczba głosów ważnych</div></td>
                            <td colspan="2"><div class="cand1"></div></td>
                            <td rowspan="3" class="bar_column"><div>Liczba głosów: <br />na kandydata / ważnych [&#37;]</div></td>
                            <td colspan="2"><div class="cand2"></div></td>
                        </tr>
                        <tr>
                            <td colspan="2"><div>głosów na kandydata</div></td>
                            <td colspan="2"><div>głosów na kandydata</div></td>
                        </tr>
                        <tr>
                            <td><div>liczba</div></td>
                            <td><div>&#37;</div></td>
                            <td><div>liczba</div></td>
                            <td><div>&#37;</div></td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </article>
    </section>
    <footer>
        <section>
            <article><h2>Warszawa 2016</h2></article>
        </section>
    </footer>
    <div class="error">
        <section><p></p></section>
    </div>
</body>
</html>