<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wybory</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sort.js' %}"></script>
</head>
<body>
    <header>
        <div class="langs">
            <section></section>
        </div>
        <div class="banner">
            <section></section>
        </div>
        <nav>
            <section>
                <a>Akty Prawne</a>
                <a>Dokumenty</a>
                <a>Organy wyborcze</a>
                <a>Kandydaci</a>
                <a>Frekwencja</a>
                <a>Wyniki</a>
                <a>Pierwsze głosowanie</a>
                <a>Sejm</a>
                <a>Senat</a>
                <a>Wykonawca</a>
            </section>
        </nav>
    </header>
    <section>
        <h1>Wyniki głosowania</h1>
        <section class="main_section">
            <aside>
                <article>
                    <h2>Zobacz także</h2>
                    <ul>
                        <li><a href="#">Frekwencja</a></li>
                        <li><a href="#">Wyniki głosowania zagranicą</a></li>
                        <li><a href="#">Porównanie wyników głosowania na kandydatów w zależności od siedziby komisji obwodowej</a></li>
                    </ul>
                    <h2>Szczegółowe wyniki głosowania na kandydatów:</h2>
                    <ul>
                        {% for candidate in candidates %}
                        <li><a href="#">{{ candidate.1 | upper }} {{ candidate.0 }}</a></li>
                        {% endfor %}
                    </ul>
                </article>
                <article id="brief_summary">
                    {% for cand in overall.candidates %}
                    <table>
                        <thead>
                        <tr>
                            <td colspan="3">
                                <h2 id="cand_name_{{ forloop.counter0 }}">{{ cand.surname | upper }} {{ cand.first_name }}</h2>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <col span="1" class="bar_column">
                        <tr>
                            <td>
                                <div class="result_bar {% cycle "first_cand" "second_cand" %}">
                                    <span class="difference"
                                          style="width: {{ cand.percentage|floatformat:"0" }}%"></span>
                                </div>
                            </td>
                            <td>{{ cand.percentage }}&#37;</td>
                            <td>{{ cand.votes }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                </article>
            </aside>
            <article class="general_comparision">
                <h2>Porównanie wyników głosowania na kandydatów</h2>
                <div id="results_map"><div id="map_loader"><img src="{% static 'img/loader.gif' %}"/></div></div>
                <div id="results_details">
                    <h2>Polska</h2>
                    <table class="statistics">
                        <tbody>
                            <tr>
                                <td colspan="2">Statystyka, stan na 30.06.2005</td>
                            </tr>
                            <tr>
                                <td>Liczba mieszkańców:</td>
                                <td>{% firstof voiv_overall.dwellers "0" %}</td>
                            </tr>
                            <tr>
                                <td>Powierzchnia:</td>
                                <td>312685 km<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td>Zaludnienie:</td>
                                <td>{% firstof density "0" %} <sup>os</sup>&frasl;<sub>km<sup>2</sup></sub></td>
                            </tr>
                            <tr>
                                <td colspan="2">Zbiorcze wyniki głosowania</td>
                            </tr>
                            <tr>
                                <td>Liczba uprawnionych:</td>
                                <td>{% firstof voiv_overall.entitled "0" %}</td>
                            </tr>
                            <tr>
                                <td>Liczba wydanych kart:</td>
                                <td>{% firstof voiv_overall.issued_cards "0" %}</td>
                            </tr>
                            <tr>
                                <td>Liczba oddanych głosów:</td>
                                <td>{% firstof voiv_overall.votes "0" %}</td>
                            </tr>
                            <tr>
                                <td>Liczba ważnych głosów:</td>
                                <td>{% firstof voiv_overall.valid_votes "0" %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
        <article>
            <h2>Porównanie wyników głosowania na kandydatów</h2>
            <table id="main_comparison" class="comparison">
                <thead>
                    <tr>
                        <td rowspan="3">Nr</td>
                        <td rowspan="3">Nazwa</td>
                        <td rowspan="3">Liczba głosów ważnych</td>
                        <td colspan="2">{{ candidates.0.1 | upper }} {{ candidates.0.0 }}</td>
                        <td rowspan="3" class="bar_column">Liczba głosów: <br />na kandydata / ważnych [&#37;]</td>
                        <td colspan="2">{{ candidates.1.1 | upper }} {{ candidates.1.0 }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">głosów na kandydata</td>
                        <td colspan="2">głosów na kandydata</td>
                    </tr>
                    <tr>
                        <td>liczba</td>
                        <td>&#37;</td>
                        <td>liczba</td>
                        <td>&#37;</td>
                    </tr>
                </thead>
                <tbody>
                {% for voiv in voivodeships %}
                    {% with results=voiv.results %}
                        {% if results.valid_votes %}
                        <tr>
                            <td><div class="voiv_code">{{ voiv.code }}</div>{{ forloop.counter }}</td>
                            <td>{{ voiv.name }}</td>
                            <td>{{ results.valid_votes }}</td>
                            <td>{{ results.candidates.0.votes }}</td>
                            <td>{{ results.candidates.0.percentage }}</td>
                            <td>
                                <div class="result_bar">
                                    <span class="difference"
                                          style="width: {{ results.candidates.0.percentage |floatformat:"0"}}%"></span>
                                </div>
                            </td>
                            <td>{{ results.candidates.1.votes }}</td>
                            <td>{{ results.candidates.1.percentage }}</td>
                        </tr>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                </tbody>
                <tfoot>
                {% with result=voiv_overall %}
                    <tr>
                        <td>Σ</td>
                        <td>Polska</td>
                        <td>{% firstof result.valid_votes "0" %}</td>
                        <td>{{ result.candidates.0.votes }}</td>
                        <td>{{ result.candidates.0.percentage }}</td>
                        <td>
                            <div class="result_bar">
                                <span class="difference"
                                      style="width: {{ result.candidates.0.percentage |floatformat:"0"}}%"></span>
                            </div>
                        </td>
                        <td>{{ result.candidates.1.votes }}</td>
                        <td>{{ result.candidates.1.percentage }}</td>
                    </tr>
                {% endwith %}
                </tfoot>
            </table>
        </article>
        <article>
            <h2>Porównanie wyników głosowania na kandydatów w zależności od siedziby komisji obwodowej</h2>
            <table class="comparison">
                <thead>
                    <tr>
                        <td rowspan="3">Nr</td>
                        <td rowspan="3">Podział</td>
                        <td rowspan="3">Liczba głosów ważnych</td>
                        <td colspan="2">{{ candidates.0.1 | upper }} {{ candidates.0.0 }}</td>
                        <td rowspan="3" class="bar_column">Liczba głosów: <br />na kandydata / ważnych [&#37;]</td>
                        <td colspan="2">{{ candidates.1.1 | upper }} {{ candidates.1.0 }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">głosów na kandydata</td>
                        <td colspan="2">głosów na kandydata</td>
                    </tr>
                    <tr>
                        <td>liczba</td>
                        <td>&#37;</td>
                        <td>liczba</td>
                        <td>&#37;</td>
                    </tr>
                </thead>
                <tbody>
                {% for type in types %}
                    {% with results=type.results %}
                        {% if results.valid_votes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ type.name }}</td>
                            <td>{{ results.valid_votes }}</td>
                            <td>{{ results.candidates.0.votes }}</td>
                            <td>{{ results.candidates.0.percentage }}</td>
                            <td>
                                <div class="result_bar">
                                    <span class="difference"
                                        style="width: {{ results.candidates.0.percentage |floatformat:"0"}}%"></span>
                                </div>
                            </td>
                            <td>{{ results.candidates.1.votes }}</td>
                            <td>{{ results.candidates.1.percentage }}</td>
                        </tr>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                    <tr>
                        <td colspan="8">
                            <h2>Porównanie wyników głosowania na kandydatów w zależności od liczby mieszkańców gminy</h2>
                        </td>
                    </tr>
                {% for quantil in quantile %}
                    {% if quantil.1.valid_votes  %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ quantil.0 }}</td>
                        <td>{{ quantil.1.valid_votes }}</td>
                        <td>{{ quantil.1.candidates.0.votes }}</td>
                        <td>{{ quantil.1.candidates.0.percentage }}</td>
                        <td>
                            <div class="result_bar">
                                <span class="difference"
                                      style="width: {{ quantil.1.candidates.0.percentage |floatformat:"0"}}%"></span>
                            </div>
                        </td>
                        <td>{{ quantil.1.candidates.1.votes }}</td>
                        <td>{{ quantil.1.candidates.1.percentage }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
</body>
</html>